# Local user/device configuration for TimeCapsuleSMB.
# Copy or regenerate with: tcapsule configure

TC_HOST='root@192.168.1.101'
TC_PASSWORD=''
TC_NET_IFACE='bridge0'
TC_SHARE_NAME='Data'
TC_SAMBA_USER='admin'
TC_NETBIOS_NAME='TimeCapsule'
TC_PAYLOAD_DIR_NAME='samba4'
TC_MDNS_INSTANCE_NAME='Time Capsule Samba 4'
TC_MDNS_HOST_LABEL='timecapsulesamba4'
TC_SSH_OPTS='-o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa -o KexAlgorithms=+diffie-hellman-group14-sha1 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
